.landing {
  background: black;

  .section {
    z-index: 10;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .plans {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }

  .subheading  {
    font-size: 30px;
    color: rgba($color: white, $alpha: 0.7);
    font-weight: bold;

    @media (max-width: 1150px) {
      text-align: center;
      font-size: 16px;
    }
  }

  .button-bottom {
    @media (max-width: 1150px) {
      align-self: center;
      justify-self: center;
    }
  }

  .title {
    font-size: 64px;
    background: linear-gradient(to right, var(--primary1) 20%, var(--primary2) 40%, var(--primary2) 60%, var(--primary1) 80%);
    background-size: 200% auto;
    font-weight: bold;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 1150px) {
      font-size: 24px;
      text-align: center;
    }
    
    animation: shine 3s linear infinite;
    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }

  .b-container {
    padding: 24px;
    width: 500px;

    &_coloured {
      color: var(--primary2);
    }
    
    &:first-child {
      border: 1px solid rgba($color: white, $alpha: 0.7);
      margin-right: 36px;
    }

    &:nth-child(2) {
      border: 1px solid var(--primary2);
    }

    &_title {
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: bold;
    }

    &_point {
      margin-bottom: 16px;
      color: rgba($color: white, $alpha: 0.7);
    }
  }

  .animate {
    opacity: 0;
    transition: 0.2s ease-in-out;
    transform: translate3d(30px, 30px, 0);

    &_active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}