html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk";
  color: white;
  overflow-x: hidden !important;
  background: black;
}

div {
  box-sizing: border-box;
}

input, textarea {
  font-family: "Space Grotesk";
}

:root {
  // --primary: pink;
  --primary1: rgb(93, 0, 254);
  --primary2: rgb(0, 190, 254);

  --btn-primary: #0074D9;
  
  --success: #008000;
  --error: red;
  --secondary: #c2c0c0;
  
  --box-shadow-dark: black;
  --box-shadow-light: rgb(238, 238, 238);

  --text-dark-grey: rgb(120, 120, 120);
  --text-light-grey: rgb(169, 169, 169);


  --svg-orange: invert(75%) sepia(72%) saturate(3444%) hue-rotate(314deg) brightness(101%) contrast(108%);
  --svg-white: invert(100%) sepia(5%) saturate(4843%) hue-rotate(196deg) brightness(135%) contrast(104%);
}